<!DOCTYPE html>
<html>
<head>
</head>
<body>

    @*<div class="header" style="color:red">
            Header goes here
        </div>
    *@

    <h1 style="color:red">TESTETST6225</h1>

    <div class="body-content" style="color:blue">
        @RenderBody()
    </div>


    @*
          <div class="footer">
          Footer goes here
        </div>
    *@
</body>
</html>
