@model DIS_MOdels;

@{
    int x = 2;
    int y = 5;
    int sum = x + y;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    @sum

    @Model.Firstname
    @Model.Lastname

    <title>Index</title>
</head>
<body>
    <h2>Hello world!</h2>
    <h4>Hello world - Added by Sutama!</h4>
    <h5>Hello world - added by Simon.</h5>
    <a asp-action="contact">Contact Now</a>
</body>
</html>